<%= form_for  Forum.new ,:html=>{:class=>"well"} do |f| %>

    <%= f.label :name %><br />
    <%= f.text_field :name %>


    <%= f.label :description %><br />
    <%= f.text_area :description %>

  <input type="hidden" name="user_id" value="<%= current_user.id%>"/>

   <p> <%= f.submit "Submit",:class=>'btn' %>
    <%= link_to 'Cancel', forums_path, :class=>"btn" %></p>

<% end %>
