<table class="table table-striped table-bordered">  
  <thead>
  <tr>  
    <th>Forum</th>  
    <th>Last Post</th> 
    <th>Author</th>
   
  </tr>  
  </thead
  <tbody>
  <% for forum in @forums %>  
    <tr>  
      <td><h4><%= link_to h(forum.name), forum_path(forum.id) %></h4>  
        <small><%= pluralize(forum.topics.count,'topic' )%> </small><br />  
       <font color="#848484"> <%=h forum.description %></font></td>  
        
      <td> <% if forum.topics.last %>
       		<%= forum.topics.last.created_at %> <br/>
       		by <font color="#5882FA"><%= forum.topics.last.user.name %></font>
       	   <% else %>
       	   	<%= forum.created_at %><br/>
       	   	
       	   <% end %></td> 
       <td><font color="#FA5858"><%= forum.user.name %></font></td>
       
       
      <% link_to "Show", forum %>  
      <% link_to "Edit", edit_forum_path(forum) %>  
     <% link_to "Destroy", forum, :confirm => 'Are you sure?', :method => :delete %>
    </tr>  
  <% end %>  
  </tbody>
</table>  
  
<button class="btn" id="new_forum_btn"><i class='icon-plus'></i>New Forum</button>
<div class="new_forum_form" style='display:none'>
<%= render 'forums/form' %>
</div>
