<% if flash[:cart_notice] %>
   <%= render "carts/cart_notice" %>
<% end %>

<% if @cart.cart_items %>
<p style="text-align:center"><strong>Your shopping Cart </strong></p></br>
<table class=" table table-striped table-bordered">
  <thead>
    <tr>
       <th>Product</th>
       <th>Price /unit</th>
       <th>Amount</th>
       <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @cart.cart_items %>
      <tr>
      	<td><%= item.product.title%></td>
      	<td><%= item.product.price%></td>
      	<td><%= item.amount %></td>
      	<td><%= item.amount*item.product.price %></td>
      </tr>
    <% end %>
    <tr><td>Total</td><td></td><td></td><td><%= @cart.total %></td></tr>
  </tbody>
</table>

<% else %>
  <p style="text-align:center"><strong>Your shopping Cart is empty! </strong></p></br>
<% end %>

