<% if flash[:cart_notice] %>
   <%= render "carts/cart_notice" %>
<% end %>
<h3>Your shopping Cart </h3>
<p>
<strong>
<%= link_to "Proceed to Checkout", '/checkouts/index' unless controller.controller_name == 'checkouts' %>
</strong>
</p>

<ul>
<% if @cart.cart_items %>
  <% for item in @cart.cart_items %>
  <li id="cart_item_<%= item.product.id %>">
   <dd><%= item.product.title %><dd>
   <dt><%= item.amount %></dt>
  </li>
  <% end %>
 <dt><%= @cart.total %></dt>
<% end %>
</ul>
<p>
<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), orders_checkout_path %>
</p>
