<tr>
 <td>
  <h1><font color="#045FB4">Re:<%= @topic.name %>	</font></h1><br/>
     by <small><font color="#2E64FE"><%= post.user.name %></font></small> 
     <font color="#848484"><%=post.created_at %></font> <br>
  
  <%= content_tag(:p, post.content, :class => "content-body") %>
  
  </td>
  <td>
  
     <small><font color="#2E64FE"><%= post.user.name %></font></small><br/>
                    Posts: <small><font color="#848484"><%=@topic.user.posts.count %></font></small><br/>
                    Joined:<small><font color="#848484"><%=time_ago_in_words @topic.user.created_at%></font></small>
  </td>
<tr>