<%= form_for @product, :html => { :multipart => true, :class=>'well'} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.text_field :title , :placeholder=> :title %>
    <%= f.text_field :price , :placeholder=> :price %></br>
    <%= f.text_area :description , :placeholder=> :description %></br>
    <p><%= f.file_field :image , :placeholder=> :image %></p></br>
    <p> <%= f.text_field :tag_list, :size => 30 , :placeholder=> :Tags %></p>

  <% for category in @categories %>
	<label class="checkbox inline">
	
	<%= check_box_tag "category_ids[]", category.id %>
        <%= category.content %>
	</label>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit', :class=>'btn' %>
  </div>
<% end %>
