
<div class="container ">
  <div class="row">
    <div class="span5"><div class="radio_box"><%= image_tag @product.image.url(:medium) %></div> 

     <%= render 'rates/rate_form'%>
     <div><%= link_to '<i class="icon-plus"></i>Add to cart'.html_safe, {:controller=>"carts", :action=>"add", :id=>@product.id}, :class=>'btn product_add_button',:remote=>true %></div>
      

     <div class="well product_details">
       <p><i class="icon-bell"></i><%= @product.price %>$</p>
       <p><i class="icon-tags"></i> <%= @product.tag_list %></p>
       <p><i class="icon-info-sign"></i><%= @product.description %></p>
    </div>

  </div>

    <div class="span4 radio_box"> 
       <% if current_user && current_user.admin? %>
       <%= link_to 'Edit', edit_product_path(@product) %>
       <%= link_to 'Destroy', @product, :confirm => 'Are you sure?', :method => :delete %><% end %>
       
   <div class="show_page_right">
   <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
   </div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ff5f2756c34f6f9"></script>
    <br/>
<%= render "comments/comment_form" %>
<div id="comments" >
  <%= render @comments %>

</div>
 <%= page_navigation_links @comments %>
</div>
</div>
  </div>

<div class="row radio_box_without_radius" style="margin-left: 1px;">
<div>
  <div class="span5">
        <div class="related_products_list"><ul class="nav">
         <% @related_products.each do |related_product| %>
         <li><dl><dd class="pic"><%= image_tag related_product.image.url(:thumb) %></dd> 
          <dt>title</dt><dd>price</dd></dl></li>
          <% end %>
     </ul>
     </div>
  </div>

   <div class="span5">
  
   <div>
</div>
<% if @cart %>
<div id="shopping_cart">
<%= render :partial => "carts/cart" %>
</div>
<% end %>
</div>

  </div>
</div>
</div>

  


