<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>

  <%= stylesheet_link_tag 'application', 'grid','css/bootstrap','custom' %>
  <%= javascript_include_tag "juquery-1.7.2.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
 <%= javascript_include_tag "js/bootstrap.js" %>
 <%= javascript_include_tag "js/bootstrap-popover.js" %>
  <%= javascript_include_tag "js/bootstrap-dropdown.js" %>

<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body style="width: 960px">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
       <div class="container">
        <div class="row span12">
         <div class="nav-collapse collapse span3"> <%= render "layouts/header" %> </div>


<div class="span4">
  <%= render "products/search_form" %>
</div>
<div class="header_right span5">
<% unless signed_in? %>
<ul class="nav nav-pills">
    <li><a href="<%= signup_path %>">Have an account?</a></li>
    <li class="dropdown" >
       <a class="dropdown-toggle dropdown-signin" data-toggle="dropdown">sign in<b class="caret"></b></a>
    </li>
</ul>



<% else %>
     <%= link_to "<span style='color:red' class='shopping_cart'>(#{@cart.total_amount})</span>".html_safe, cart_items_list_path %>
      
      <li class="icon-eye-open icon-white "></li>
     <button onClick="location.href='<%= checkouts_index_url %>'" class=" btn"><i class="icon-shopping-cart"></i>CheckOut</button> 
 <ul class="nav nav-pills">
     <li><%= link_to current_user.name, current_user %> </li>
     <li><%= link_to "Log out", logout_path %></li>
 </ul>
<% end %>
</div>
</div>

</div>
       </div>

    </div>
</div>



<div class="container">
<div class="row"><div class="span8">

    <% if flash[:notice] %>
      <div class="alert alert-error"><button class="close" data-dismiss="alert">×</button><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert"><button class="close" data-dismiss="alert">×</button><%= flash[:error] %></div>
    <% end %>
   <% if flash[:success] %>
      <div class="alert alert-success"><button class="close" data-dismiss="alert">×</button><%= flash[:success] %></div>
    <% end %>
</div></div>
<div class="row container-center">
<%= yield %>
 
</div>



<!--
<div class="row">
  <div span="12"><div class="row"></div><div class='span2'><%= render "layouts/content_left" %></div><div class="span7"><%= yield %></div><div id="shopping_cart" class="span3"> <%= render "carts/cart" %></div></div>
  <div class="row"> <div class="span12"><%= render "layouts/footer" %></div></div>
</div>
-->

<div class="signin_menu" id="signin_menu"><%= render :template=>"/sessions/new/" %></div>
</div>
<%= render "layouts/footer" %>

<%= javascript_include_tag "js/jquery.masonry.min.js" %>
<script type="text/javascript">
 var $container=$('#main');
 $container.imagesLoaded(function(){
	$container.masonry({
		itemSelector:'li'
		
	});
 });

      
      // Capture clicks on grid items.
      $('#tiles li .comment_button').click(function(){
        // Randomize the height of the clicked item.
        var newHeight = $(this).parent().siblings("a").children("img").height() + 110;
        $(this).parent().parent().css('height', newHeight+'px');
        // Update the layout.
        $container.masonry('reload');
      });
      </script>
</body>
</html>
